html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 40px;
  text-align: center;
}

html {
  background-color: darkslateblue;
}

body {
  width: 600px;
  margin: 160px auto;
  background-color: deepskyblue;
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
}

form {
  text-align: center;
  height: 30px
}

input {
  text-align: center;
  border: 2px solid darkslateblue;
}


img {
  display: block;
  margin: 20px auto;
}
