<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for( 'static', filename='style.css')}}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="icon" href="templates/twitter.png.jpeg" type="image/png">
        <title>Twitter</title>
    </head>
    <body>
        <h3>Make a map of friends</h3>
        <form action="/map" method="post">
            <div>
                <input name="user_name" type="text" placeholder="Enter user name" required="">
            </div>
            <div>
                <input type="submit" value="Search">
            </div>
        </form>
        <img src="templates/images.png" alt="The Firefox logo: a flaming fox surrounding the Earth.">
    </body>
</html>

